
@if (Model.ListaDescritivo != null)
{
foreach (var item in Model.ListaDescritivo)
{

<div class="col-md-12">
    <div class="panel panel-border-color panel-border-color-success">
        <div class="panel-heading"> Data: @item.DataCadastro</div>
        <div class="panel-body">
            <p>@item.NomeDescritivo </p>            
        </div>
    </div>
</div>
}
}


